
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.card {
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    max-width: 800px;
    height: 550px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5); /* Meio branco, meio transparente */
    margin-top: 40px;
}

.fundo {

    background-image: url('https://i.imgur.com/u5YXLL2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    overflow-x: hidden;

}
  
.scale {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    border-radius: 5px;
    
}

.button {
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #b31f1f;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    
 
   
}

.selected {
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    height: 55px;
    width: 55px;
    margin-left: 15px;
    
}
.notSelected {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: #ff0000;
    height: 50px;
    width: 55px;
   
}

.textarea {
    width: 650px; /* 100% da largura do container pai */
    height: 100px; /* Aumenta a altura */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #000000; /* Adiciona uma borda para melhor visualização */
    resize: none; /* Impede o redimensionamento manual */
    
}

.submit {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
   margin-top:25px;
   height: 50px; 
   width: 228px;
}


/* Flexbox para os itens .avali ficarem lado a lado */
.avaliContainer {
    display: flex;
    justify-content: space-between; /* Isso garante que os elementos fiquem nas extremidades */
    margin: 30px 0; /* Espaçamento vertical */
}

.avali {
    flex: 1; /* Faz com que cada item ocupe espaço igual */
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Espaçamento interno */
    margin: -35px 0; /* Espaçamento vertical */
    font-family: "Inter", sans-serif;
    margin-right: -40px;
    margin-left: 200px;
   
}

.avali01 {
    flex: 1; /* Faz com que cada item ocupe espaço igual */
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Espaçamento interno */
    margin: -35px 0; /* Espaçamento vertical */
    font-family: "Inter", sans-serif;
    margin-right: 300px;
    font-size: 15px;
 
}

.text{
    
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-top: 50px;

}

.text02{
   
  font-style: italic;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  margin-top: 10px;
  margin-right: 320px;

}
