@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.card {
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    max-width: 800px;
    height: 550px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5); /* Meio branco, meio transparente */
    margin-top: 40px;
}

.fundo {
    background-image: url('https://i.imgur.com/u5YXLL2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}
  
.scale {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    border-radius: 5px;
    
}

.button {
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #b31f1f;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
   
 
   
}

.selected {
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    height: 55px;
    width: 55px;
    margin-left: 15px;
    
}
.notSelected {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: #ff0000;
    height: 50px;
    width: 55px;
   
}

.textarea {
    width: 120%;
    height: 120px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    
}

.submit {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
}

/* Flexbox para os itens .avali ficarem lado a lado */
.avali {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; /* Para garantir que fiquem lado a lado */
    gap: 20px; /* Espaço entre os elementos */
}

.text{
    
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-top: 50px;

}
