
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* A regra abaixo define o estilo do rodapé (footer) */
.footer {
  background-color: red; /* Define a cor de fundo do footer como vermelho */
  bottom: 0; /* Fixa o footer na parte inferior da tela */
  left: 0; /* Alinha o footer à esquerda da tela */
  width: 100%; /* Ocupará toda a largura da tela */
  height: 15px; /* Define a altura do footer como 15 pixels */
  text-align: center; /* Centraliza o texto contido no footer */
  font-family: 'Inter', sans-serif; /* Define a fonte do texto como 'Inter', com uma fonte alternativa sans-serif */
  position: relative; /* Define a posição relativa para posicionamento interno do conteúdo */
  padding: 30px 0; /* Adiciona padding interno de 30 pixels na parte superior e inferior */
  z-index: 1500; /* Garante que o footer fique acima de outros elementos na pilha de empilhamento */
}

/* A regra abaixo define o estilo do parágrafo dentro do footer */
.footerp {
  color: white; /* Define a cor do texto como branco */
  font-size: 14px; /* Define o tamanho da fonte como 14 pixels */
  margin: 0; /* Remove a margem padrão do parágrafo */
  /* O texto é posicionado no centro do footer */
  position: absolute; /* Permite posicionamento absoluto em relação ao footer */
  top: 50%; /* Posiciona o topo do texto a 50% da altura do footer */
  left: 50%; /* Posiciona a esquerda do texto a 50% da largura do footer */
  transform: translate(-50%, -50%); /* Move o texto para o centro, ajustando pela metade da sua largura e altura */
}