/* comentários.module.css */

/* Estilo para o contêiner principal */
.container {
  max-width: 1200px; 
  margin: 50px auto 45px;
  padding: 20px;
  font-family: Arial, sans-serif;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  transition: transform 0.3s, box-shadow 0.3s;
/*coloque o footer no final da pagina*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 50px;


}

/* Estilo para o título principal */
.h1 {
  font-size: 4vw;
  color: black;
  margin: 30px 0;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  text-align: center;
}

/* Estilo para um título secundário */
.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 5vw;
  color: red;
}

/* Estilos para mensagens de erro */
.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

/* Estilo para o contêiner de controles */
.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

/* Estilo para campos de pesquisa e filtro */
.search,
.filter {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  max-width: 100%;
  box-sizing: border-box;
}

/* Estilo para botões de ordenação */
.sortButton {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sortButton:hover {
  background-color: darkred;
}

/* Estilo para a visualização em lista */
.listView {
  display: block;
}

/* Estilo para a visualização em grade */
.gridView {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 5px;
}

/* Estilo para cada item na lista */
.item {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;
  width: calc(33.33% - 20px);
  height: 150px;
  text-align: center;
  border: 1px solid black;
  display: inline-table;
  flex-direction: column;
  justify-content: center;
}

/* Estilo para textos dentro dos itens */
.span {
  font-size: 17px;
  color: black;
  font-family: Arial, sans-serif;
  display: block;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Efeito hover para itens */
.item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para mensagens gerais */
.message {
  text-align: center;
  color: #555;
}

/* Estilo para a paginação */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo para botões de página */
.pageButton {
  padding: 10px 15px;
  border: 1px solid red;
  background-color: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  margin: 30px 5px;
}

/* Efeito hover para botões de página */
.pageButton:hover {
  background-color: red;
  color: white;
}

/* Estilo para o botão de página ativo */
.pageButton.active {
  background-color: red;
  color: white;
}

/* Responsividade para telas menores */
@media (max-width: 1200px) {
  .container {
    padding: 15px; 
    height: 90%;
    width: 95%;
  }
  .h1 {
    font-size: 5vw;
  }
  .title {
    font-size: 6vw;
  }
  .search,
  .filter {
    width: 80%;
    margin: 10px 0;
  }
   
  .item {
    width: calc(50% - 20px); /* Cards ocupam 50% da largura em telas menores */
  }

  .pagination {
    margin-top: 30px;
  }

  .gridView {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
  }
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .container {
    padding: 10px;
     height: 80%;
     width: 90%;
  }
  .h1 {
    font-size: 6vw;
  }
  .title {
    font-size: 7vw;
  }
  .controls {
    flex-direction: column;
    align-items: center;
    
  }
  .sortButton {
    width: 80%;
    text-align: center;
    
  }
  .item {
    width: 93%; /* Cards ocupam 100% da largura em telas muito pequenas */
    height: auto; /* Ajusta a altura automaticamente */
    text-align: center;
    align-items: center;
  }
}
